# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# =========================
# Virtual Environment
# =========================
venv/
.envrc
.env*
!.env.example

# =========================
# Pandas / Dados gerados
# =========================
docs/files/
*.csv
*.zip

!/consolidado_despesas.zip
!/Teste_Luiz_Fernando_Policarpo_leandro.zip

# =========================
# Logs temporários
# =========================
*.log
*.tmp

# =========================
# Build / dist
# =========================
build/
dist/

# =========================
# Jupyter (se usar)
# =========================
.ipynb_checkpoints/

# =========================
# IDEs / Editores
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Sistema Operacional
# =========================
.DS_Store
Thumbs.db
